{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "emotion",
    "@babel/plugin-transform-runtime",
    "transform-class-properties",
    "@babel/transform-async-to-generator",
    "transform-object-rest-spread"
  ]
}