{
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "API_URL": true,
    "APP_ID": true,
    "APP_KEY": true
  },
  "rules": {
    "semi": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
