{
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.4"
    }
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "API_URL": true,
    "APP_ID": true,
    "APP_KEY": true,
    "GOOGLE_SEARCH_KEY": true,
    "GOOGLE_SEARCH_ENGINE": true

  },
  "rules": {
    "semi": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
