@charset "utf-8";
@import "~bulma/bulma";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "src/scss/fontFace";

/* nunito-regular - latin */
@include font-face(
  "Nunito",
  "../../fonts/nunito-v9-latin-regular",
  "Nunito",
  400,
  "normal"
);

/* nunito-600 - latin */
@include font-face(
  "Nunito",
  "../../fonts/nunito-v9-latin-600",
  "Nunito",
  600,
  "normal"
);

/* nunito-700 - latin */
@include font-face(
  "Nunito",
  "../../fonts/nunito-v9-latin-600",
  "Nunito",
  600,
  "normal"
);

html {
  font-family: "Nunito", sans-serif;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  body {
    font-family: "Nunito", sans-serif;
  }
}

.App {
  position: relative;
  min-width: 490px;
  max-width: 490px;
  margin: 100px 0 300px 0;
}

.LoadingSpinner {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 120px;
  z-index: 10000;
}
