@charset "utf-8"
@import "~bulma/bulma"
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')


html
  font-family: "Nunito", sans-serif
  min-height: 100%
  display: flex
  align-items: center
  justify-content: center

body
  font-family: "Nunito", sans-serif