.SearchResults {
  position: relative;

  .SearchResults__Definitions {
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    li:last-of-type hr {
      display: none;
    }
    li {
      width: 100%;
    }
  }

  .SearchResults__Images {
    margin: 20px 0 50px 0;
    .slick-track {
      display: flex;
      align-items: center;

      img {
        width: auto;
        height: auto;
      }

      button.slick-arrow::before {
        color: black !important;
      }
    }
  }
}
